body {
  background-image: url("/././assets/backgrounddd.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: bold;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-attachment: fixed;
  background-position: center;
}


.card-text {
  border: 4px double black;
  border-radius: 10px;
  padding: 5px;
}

.laptops {
  border: 8px double black;
  border-radius: 10px;
  display: block;
  margin: auto;
  text-align: center;
  padding-right: 180px;
}


* {
  scrollbar-width: thin;
  scrollbar-color: #000000 red;
}

*::-webkit-scrollbar {
  width: 17px;
}

*::-webkit-scrollbar-track {
  background: #03045e;
}

*::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 21px;
  border: 2px solid #4f4f4f;
}

body {
  overflow-x: hidden;
}

.card-photos {
  position: absolute;
  left: 70%;
  display: flex;
  flex-direction:column;
  width: 25%;
  height: 25%;
  margin: auto;
  text-align: center;
  top: 10%;
  padding-bottom: 15px;
}

.card-photos > img {
  width: 100%;
  height: 100%;
  border: 5px double black !important;
  border-radius: 10px;
}


::ng-deep .ngxImageZoomContainer > img{
  height: 360px !important;
  width: 360px !important;
  }

  h5:hover, h5:focus, h5:active, p:hover, p:focus, p:active {
    -webkit-animation-name: buzz-out-on-hover;
    animation-name: buzz-out-on-hover;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    color: red;
    text-shadow: 0 0 5px red;
    transition: all 0.8s ease 0.4s;
  }

  @-webkit-keyframes buzz-out-on-hover {
    10% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    20% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    30% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    40% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    50% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    60% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    70% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    80% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    90% {
      -webkit-transform: translateX(1px) rotate(0);
      transform: translateX(1px) rotate(0);
    }
    100% {
      -webkit-transform: translateX(-1px) rotate(0);
      transform: translateX(-1px) rotate(0);
    }
  }
  @keyframes buzz-out-on-hover{
    10% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    20% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    30% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    40% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    50% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    60% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    70% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    80% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    90% {
      -webkit-transform: translateX(1px) rotate(0);
      transform: translateX(1px) rotate(0);
    }
    100% {
      -webkit-transform: translateX(-1px) rotate(0);
      transform: translateX(-1px) rotate(0);
    }
  }


