/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #000000 red;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 17px;
}

*::-webkit-scrollbar-track {
  background: #03045e;
}

*::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 21px;
  border: 2px solid #4f4f4f;
}

body {
  overflow-x: hidden;
  position: relative;
  font-weight: bold;
  background-color: black;
  box-sizing: border-box;
}

.firstSection {
  border: 5px solid black;
  height: 50%;
}

.firstSection > img {
  width: 100%;
  height: 100%;
}

.firstSection > video {
  width: 100%;
  height: 100%;
}

.firstSection > a {
  font-size: 40px;
  text-decoration: none;
  border: 8px double #c2c5aa !important;
  color: #c2c5aa;
  position: absolute;
  display: block;
  left: 20%;
  padding: 10px;
  border-radius: 40px;
}

.firstSection > a:hover, .firstSection > a:focus, .firstSection > a:active {
  -webkit-animation-name: buzz-out-on-hover;
  animation-name: buzz-out-on-hover;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  color: red;
  text-shadow: 0 0 5px red;
  transition: all 0.8s ease 0.4s;
  border: 8px double red !important;
}

.secondSection {
  width: 100%;
  height: 100%;
}

.secondSection > video {
  width: 100%;
  height: 100%;
}

.secondSection> img {
  width: 100%;
  height: 100%;
}

.secondSection > a {
  font-size: 40px;
  text-decoration: none;
  border: 8px double white !important;
  color: white;
  position: absolute;
  display: block;
  left: 10%;
  padding: 10px;
  border-radius: 40px;
}

.secondSection > a:hover, .secondSection > a:focus, .secondSection > a:active {
  -webkit-animation-name: buzz-out-on-hover;
  animation-name: buzz-out-on-hover;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  color: red;
  text-shadow: 0 0 5px red;
  transition: all 0.8s ease 0.4s;
  border: 8px double red !important;
}

.thirdSection {
  width: 100%;
  height: 100%;
}

.thirdSection > video {
  width: 100%;
  height: 100%;
}

.thirdSection > img {
  width: 100%;
  height: 100%;
}

.thirdSection > a {
  font-size: 40px;
  text-decoration: none;
  border: 8px double white !important;
  color: white;
  position: absolute;
  display: block;
  left: 20%;
  padding: 10px;
  border-radius: 40px;
}

.thirdSection > a:hover, .thirdSection > a:focus, .thirdSection > a:active {
  -webkit-animation-name: buzz-out-on-hover;
  animation-name: buzz-out-on-hover;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  color: red;
  text-shadow: 0 0 5px red;
  transition: all 0.8s ease 0.4s;
  border: 8px double red !important;
}

.fourthSection {
  width: 100%;
  height: 100%;
}

.fourthSection > video {
  width: 100%;
  height: 100%;
}

.fourthSection > img {
  width: 100%;
  height: 100%;
}

.fourthSection > a {
  font-size: 40px;
  text-decoration: none;
  border: 8px double black !important;
  color: black;
  position: absolute;
  display: block;
  left: 60%;
  padding: 10px;
  border-radius: 40px;
}


.fourthSection > a:hover, .fourthSection > a:focus, .fourthSection > a:active {
  -webkit-animation-name: buzz-out-on-hover;
  animation-name: buzz-out-on-hover;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  color: red;
  text-shadow: 0 0 5px red;
  transition: all 0.8s ease 0.4s;
  border: 8px double red !important;
}

.fifthSection {
  width: 100%;
  height: 100%;
}

.fifthSection > video {
  width: 100%;
  height: 100%;
}

.fifthSection > img {
  width: 100%;
  height: 100%;
}

.fifthSection > a {
  font-size: 40px;
  text-decoration: none;
  border: 8px double white !important;
  color: white;
  position: absolute;
  display: block;
  left: 60%;
  padding: 10px;
  border-radius: 40px;
}

.fifthSection > a:hover, .fifthSection > a:focus, .fifthSection > a:active {
  -webkit-animation-name: buzz-out-on-hover;
  animation-name: buzz-out-on-hover;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  color: red;
  text-shadow: 0 0 5px red;
  transition: all 0.8s ease 0.4s;
  border: 8px double red !important;
}

.sixthSection > img {
  width: 100%;
  height: 100%;
}

.sixthSection > a {
  font-size: 40px;
  text-decoration: none;
  border: 8px double white !important;
  color: white;
  position: absolute;
  display: block;
  left: 60%;
  padding: 10px;
  border-radius: 40px;
}

.sixthSection > a:hover, .sixthSection > a:focus, .sixthSection > a:active {
  -webkit-animation-name: buzz-out-on-hover;
  animation-name: buzz-out-on-hover;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  color: red;
  text-shadow: 0 0 5px red;
  transition: all 0.8s ease 0.4s;
  border: 8px double red !important;
}

.seventhSection {
  width: 100%;
  height: 100%;
}

.seventhSection > img {
  width: 100%;
  height: 100%;
}

.seventhSection > h1 {
  color: whitesmoke;
  font-size: 50px;
}

.seventhSection>h1:hover{
  color: #fff;
  text-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
              letter-spacing: 4px;
              transition: all 0.8s ease 0.4s;
}

@-webkit-keyframes wobble-to-bottom-right-on-hover {
  16.65% {
    -webkit-transform: translate(8px, 8px);
    transform: translate(8px, 8px);
  }
  33.3% {
    -webkit-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px);
  }
  49.95% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
  }
  66.6% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  83.25% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes wobble-to-bottom-right-on-hover {
  16.65% {
    -webkit-transform: translate(8px, 8px);
    transform: translate(8px, 8px);
  }
  33.3% {
    -webkit-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px);
  }
  49.95% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
  }
  66.6% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  83.25% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.seventhSection> h1{
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.seventhSection> h1:hover, .seventhSection> h1:focus, .seventhSection> h1:active {
  -webkit-animation-name: wobble-to-bottom-right-on-hover;
  animation-name: wobble-to-bottom-right-on-hover;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}



