<body>
  <div class="firstSection">
    <video autoplay [muted]="'muted'" loop src="/././assets/home page first video.mp4"></video>
    <a [routerLink]="'phones/details/4'">{{'data.details' | translate}}</a>
    <img src="/././assets/firstSectionImg.jpg">
  </div>
  <div class="secondSection">
    <video autoplay [muted]="'muted'" loop src="/././assets/second section video.mp4"></video>
    <a [routerLink]="'laptops/details/1'">{{'data.details' | translate}}</a>
    <img src="/././assets/sceond section photo.jpeg">
  </div>
  <div class="thirdSection">
    <video autoplay [muted]="'muted'" loop src="/././assets/third section video.mp4"></video>
    <a [routerLink]="'tabs/details/1'">{{'data.details' | translate}}</a>
    <img src="/././assets/third section photo.webp">
  </div>
  <div class="fourthSection">
    <video autoplay [muted]="'muted'" loop src="/././assets/fourth section video.mp4"></video>
    <a [routerLink]="'watches/details/2'">{{'data.details' | translate}}</a>
    <img src="/././assets/fourth section photo.jpg">
  </div>
  <div class="fifthSection">
    <video autoplay [muted]="'muted'" loop src="/././assets/fifth section video.mp4"></video>
    <a [routerLink]="'airpods/details/1'">{{'data.details' | translate}}</a>
    <img src="/././assets/fifth section photo.jpg">
  </div>
  <div class="sixthSection">
    <a [routerLink]="'accessories'">{{'data.accessories' | translate}}</a>
    <img src="/././assets/sixth section photo.webp">
  </div>
  <div class="seventhSection">
    <h1 class="text-center">{{'data.think' | translate}}</h1>
    <img src="/././assets/seventh section photo.png">
  </div>




















</body>
